{% extends 'base.html' %} 
{% block content %} 
<head>
    <title>Our shop</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}"
</head>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 item-icon" src="{{icon}}" alt="{{name}}" /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product ID: {{id}}</div>
                <h1 class="display-5 fw-bolder">{{name|title}}</h1>
                <div class="fs-5 mb-5">
                    <span>${{price}}</span>
                </div>
                <p class="lead">{{description}}</p>
                <div class="d-flex">
                {% if current_user.is_authenticated %} 
                <a class="btn btn-outline-dark flex-shrink-0" href="/shop/cart/add/{{id}}">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </a>
                {% else %} 
                <a class="btn btn-outline-dark flex-shrink-0" href="/login">
                    <i class="bi-cart-fill me-1"></i>
                    Login to add to cart
                </a>
                {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
